li {
    list-style: none;
}

a {
 text-decoration: none;
 font-weight: 600;
 cursor: pointer;
 color: black;
 margin: 0;
 padding: 0;
}

ul {
    display: flex;
    padding: 0;
    margin-left: 1em;
    margin-right: 1em;
    gap: 3em;
    align-items: center;
}

nav {
    display: flex;
    justify-content: space-between;
    background-color: beige;
    padding: 0;
    width: 100%;
    align-items: center;
    min-height: 2.5em;
}

div {
    padding: 0;
    margin: 0;
    align-items: center;
}

img {
    width: 3.5em;
}