<nav>
    <div>
        <ul>
            <li> <a href="/home">Home</a></li>
            <li> <a href="/catalog">Catalog</a></li>
            <li> <a href="/contacts">Contacts</a></li>
        </ul>
    </div>
    <div>
        <ul *ngIf="!isLoggedIn">
            <li> <a routerLink="/login">Login</a> </li>
            <li> <a routerLink="/register">Register</a></li>
        </ul>
        <ul *ngIf="isLoggedIn">
            <li> <a (click)="logout()">Logout</a> </li>
        </ul>
    </div>
</nav>