<div *ngIf="isLoading">
    <app-loader />
</div>

<div class="mainDiv" *ngIf="!isLoading">
    <h1>
        <span class="underlined underline-clip">Sell</span>
        <br>or
        <span class="underlined underline-mask">Buy</span>
        <br>
        <span class="underlined underline-overflow">a property</span>
    </h1>
    <div class="right">
        <img src="https://wallpaperaccess.com/full/3921874.jpg">
        <a *ngIf='isLoggedIn' class='logged' routerLink="/post-new">Sell</a>
        <a *ngIf='!isLoggedIn' class='notLogged' routerLink="/login">Login to sell</a>
    </div>
</div>