* {
    font-family: monospace;
    color: #fff;
}

.card {
    border: 1px solid #fff;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 3em;
    border-radius: 12px;
    backdrop-filter: blur(18px);
    box-shadow: 0 1em 1em 1em rgba(255, 255, 255, 0.2);
    max-width: 1100px;

}

.appImg {
    overflow: hidden;
    display: block;
    width: 20em;
    border-radius: 12px 12px 0px 0px;
    min-height: 13.6em;

}

.card-wrapper {
    display: grid;
    grid-template-columns: auto auto auto;
}

h2 {
    text-align: center;
    font-size: 3em;
    padding-top: 0.5em;
    padding-bottom: 1.5em;
}

.details-btn {
    margin: 1em;
    padding: 0.5em 1em;
    border-radius: 100px;
    color: #000;
    border: 2px solid black;
    font-weight: 580;
    background-color: #fff;
}

.details-btn:hover {
    background-color: green;
    border: 2px solid green;
    color: #fff;
}

p {
    margin: 0;
    padding: 0.5em;
}

a {
    text-decoration: none;
}

h4 {
    padding: 0.2em;
    font-size: 1.2em;
}

input {
    border-radius: 1em;
    border: 1px solid black;
}

.accBtn {
    color: #00ff2f;
    text-decoration: underline;
}

input {
    color: #000;
}

.error {
    color: rgb(179, 4, 4);
}

h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-top: 4em;
    font-size: 3em;
}

.search {
    padding: 2em;
    display: flex;
    padding-right: 10em;
}

.head {
    display: flex;
}

input {
    max-height: 2.5em;
}

.search p {
    max-height: 2em;
}

.search button {
    border-radius: 2em;
    color: #000;
    background-color: #fff;
    border: 2px solid black;
    padding: 0.3em 1em;
    margin-left: 1em;
    font-weight: 600;
}

.search button:hover {
    background-color: green;
    border: 2px solid green;
    color: #fff;
    cursor: pointer;
}
.container{
    margin-top: 0;
}