<div class="mainDiv">
    <form [formGroup]="form" (submit)="login()">
        <fieldset>
            <div class="field">
                <h2>Log In</h2>
                <h4>Email:</h4>
                <label for="email"></label>
                <input type="email" formControlName="email" name="email" id="email">

                <h4>Password:</h4>
                <label for="password"></label>
                <input type="password" formControlName="password" name="password" id="password">

                <button>Login</button>

                <p class="text-center">
                    Dont have an account?
                    <a routerLink="/register">Register</a>
                </p>

            </div>
        </fieldset>
    </form>
</div>